html,
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


i{
    font-size: 40px;
    color:hsla(60, 72%, 80%, 0.904);
}

span{
    font-size: 40px;
    animation: slidein 2s infinite;
}

@keyframes slidein {
    from { transform: translate(100%);}
    to   { transform: translate(-100%);}
  }

p{
    animation: 3s ease-in 1s infinite reverse both running slidein;
}

h1{
    font-family: 'Nanum Pen Script', cursive;
}

